#intro {
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    font-weight: bold;
    color: red;
    background-color: orange;
    text-align: center;
    margin:10px 300px;
    box-sizing: border-box;
}

.list {
    font-family: "Comic Sans", serif;
    font-size: 40px;
    font-weight: 100;
    color: magenta;
    text-align: center;
    margin:20px 500px;
    box-sizing: border-box;
}